.page{
    min-height:100vh;
    display:none;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.page.active{
    display:flex;
}

button{
    padding:15px 30px;
    border:none;
    border-radius:40px;
    background:#ff4d8d;
    color:white;
    cursor:pointer;
    margin-top:20px;
    font-size:16px;
    transition:.3s;
}

button:hover{
    transform:scale(1.08);
}

#balloonArea{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:30px;
}

.pop-balloon{
    font-size:60px;
    cursor:pointer;
    transition:.3s;
}

.pop-balloon:hover{
    transform:scale(1.2);
}

.chocolate-box{
    font-size:120px;
    cursor:pointer;
    transition:.4s;
}

.chocolate-box:hover{
    transform:rotate(10deg) scale(1.1);
}

#candles{
    margin-top:25px;
}

.candle{
    font-size:70px;
    cursor:pointer;
    margin:10px;
    display:inline-block;
}

.lit{
    filter:drop-shadow(0 0 20px gold);
    transform:scale(1.2);
}

#letterText{
    font-size:1.2rem;
    line-height:2;
    min-height:200px;
    padding:20px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:15px;
    margin-top:25px;
}

.gallery img{
    width:100%;
    border-radius:20px;
    object-fit:cover;
    height:250px;
    transition:.4s;
}

.gallery img:hover{
    transform:scale(1.05);
}

.big-heart{
    font-size:120px;
    cursor:pointer;
    animation:pulse 1.5s infinite;
}

@keyframes pulse{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

.confetti{
    position:fixed;
    top:-20px;
    font-size:25px;
    animation:fall 4s linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(120vh);
    }
}